/* ==========================================================================================
 オプション項目の priority のリスト
========================================================================================== */
.priority-list {
  display: flex;

  &__item {
    flex: 1;

    & + & {
      margin-left: 5px;
    }

    &__button {
      border: 1px solid #ccc;
      border-radius: 3px;
      background: #f0f0f0;
      padding: 5px;
      width: 100%;

      @media (min-width: 600px) {
        &:hover {
          background: #deffde;
          border-color: #1aa31a;
        }
      }
      
      &--selected {
        background: #ecffec;
        border-color: #41bd41;
      }
    }
  }
}